<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>com.Tournevice.Servlet.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>com.Tournevice.Servlet.Inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connection</servlet-name>
        <servlet-class>com.Tournevice.Servlet.Connection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Competitions</servlet-name>
        <servlet-class>com.Tournevice.Servlet.Competitions</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connection</servlet-name>
        <url-pattern>/Connection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Competitions</servlet-name>
        <url-pattern>/Competitions</url-pattern>
    </servlet-mapping>
</web-app>